body{
    background-color: #BFECFF;
}

.box {
    background-color: #FFF6E3;
    display: flex;
    padding: 30px;
    margin: 50px;
    flex-direction: column;
    border-radius: 7px;
    justify-content: center;
    text-align: center;
    font-family:'Times New Roman', Times, serif
}